.main {
  display: flex;
  margin-left: max(7vw, 25px);
  margin-top: 50px;
  margin-bottom: 50px;
  color: #6d6d6d;
  font-size: 16px;
  max-width: calc(2 / 3 * 100%);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  gap: 100px;
}

.order-details,
.product-list {
  display: grid;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin-right: 50px;
  margin-left: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-details h2,
.product-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 5px;
}

.order-details div p,
.product-list li p {
  margin-bottom: 8px;
}

.product-list li {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.product-list li img {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.product-list li p {
  margin: 2px;
  padding: 2px;
}
