.list-table-format {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format.title {
  background-color: #f9f9f9;
}
.book {
  width: 50px;
}
.profilepic {
  width: 30px;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1f1 3f4 1f1;
    gap: 15px;
  }
  .list-table-format.title {
    display: none;
  }
}
